In [1]:
import pandas as pd
import numpy as np
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split
import autokeras as ak

In [2]:
seed = 0

In [3]:
DATASETX = "./data/prep/HotelReservationsPreparedCleanX.csv"
DATASETY = "./data/prep/HotelReservationsY.csv"

In [4]:
df_x = pd.read_csv(DATASETX)
df_y = pd.read_csv(DATASETY)

In [5]:
df_x.head()

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests
0,0.0,-0.6,-1.000000,-0.882353,-1.0,1.0,-1.0,-0.990971,0.454545,-0.933333,0.0,-1.0,-1.0,-1.0,-0.044444,-0.6
1,0.0,-1.0,-1.000000,-0.764706,0.0,-1.0,0.0,-0.823928,0.272727,-0.133333,-1.0,-1.0,-1.0,-1.0,-0.624074,-1.0
2,0.0,-1.0,-0.428571,-0.764706,-1.0,-1.0,0.0,-0.936795,1.000000,0.733333,0.0,-1.0,-1.0,-1.0,-0.603704,-1.0
3,0.0,-1.0,-1.000000,-0.882353,0.0,-1.0,0.0,-0.548533,0.636364,0.000000,-1.0,-1.0,-1.0,-1.0,-0.600000,-1.0
4,-0.5,-1.0,-1.000000,-0.882353,0.0,-1.0,0.0,-0.002257,0.272727,-0.266667,-1.0,-1.0,-1.0,-1.0,-0.729630,-1.0

In [6]:
df_y.head()

   booking_status
0               1
1               1
2               1
3               0
4               1

In [7]:
df = pd.concat([df_x, df_y], axis=1)
df.head()

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,0.0,-0.6,-1.000000,-0.882353,-1.0,1.0,-1.0,-0.990971,0.454545,-0.933333,0.0,-1.0,-1.0,-1.0,-0.044444,-0.6,1
1,0.0,-1.0,-1.000000,-0.764706,0.0,-1.0,0.0,-0.823928,0.272727,-0.133333,-1.0,-1.0,-1.0,-1.0,-0.624074,-1.0,1
2,0.0,-1.0,-0.428571,-0.764706,-1.0,-1.0,0.0,-0.936795,1.000000,0.733333,0.0,-1.0,-1.0,-1.0,-0.603704,-1.0,1
3,0.0,-1.0,-1.000000,-0.882353,0.0,-1.0,0.0,-0.548533,0.636364,0.000000,-1.0,-1.0,-1.0,-1.0,-0.600000,-1.0,0
4,-0.5,-1.0,-1.000000,-0.882353,0.0,-1.0,0.0,-0.002257,0.272727,-0.266667,-1.0,-1.0,-1.0,-1.0,-0.729630,-1.0,1

In [8]:
df = shuffle(df, random_state=seed)
df.head()

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
17405,0.0,-1.0,-0.714286,-0.882353,-1.0,1.0,0.0,-0.959368,0.272727,-0.200000,0.0,-1.0,-1.0,-1.0,-0.388889,0.2,1
25403,0.0,-1.0,-1.000000,-0.882353,-1.0,-1.0,0.0,-0.936795,0.636364,0.400000,0.0,-1.0,-1.0,-1.0,-0.407407,-1.0,0
13544,0.5,-1.0,-1.000000,-0.647059,-1.0,-1.0,1.0,-0.638826,0.272727,-0.866667,0.0,-1.0,-1.0,-1.0,-0.499000,-0.6,1
31848,0.0,-1.0,-0.428571,-0.764706,-1.0,-1.0,1.0,-0.864560,0.636364,0.000000,0.0,-1.0,-1.0,-1.0,-0.560815,-0.6,1
9691,-0.5,-1.0,-0.428571,-0.411765,-1.0,-1.0,1.0,-0.977427,0.636364,-0.333333,1.0,-1.0,-1.0,-1.0,-0.592593,-1.0,1

In [9]:
TRAIN_SIZE = 0.8
VALIDATION_SIZE = 0.1
TEST_SIZE = 0.1

In [10]:
train_set, temp_set = train_test_split(df, train_size=TRAIN_SIZE, random_state=seed)

validation_set, test_set = train_test_split(temp_set, train_size=VALIDATION_SIZE / (VALIDATION_SIZE + TEST_SIZE), random_state=seed)

In [11]:
X_train = train_set.drop('booking_status', axis=1)
y_train = train_set['booking_status']

X_val = validation_set.drop('booking_status', axis=1)
y_val = validation_set['booking_status']

X_test = test_set.drop('booking_status', axis=1)
y_test = test_set['booking_status']

In [12]:
train_set.head()

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
6673,0.5,-1.0,-0.714286,-0.647059,-1.0,-1.0,1.0,-0.566591,0.454545,-1.000000,0.0,-1.0,-1.0,-1.0,-0.385000,0.6,1
29596,0.0,-1.0,-1.000000,-0.882353,1.0,-1.0,0.0,-0.995485,1.000000,-0.400000,0.0,-1.0,-1.0,-1.0,-0.685185,-1.0,1
19931,0.0,-1.0,-1.000000,-0.529412,-1.0,-1.0,0.0,-0.241535,0.636364,-0.800000,-1.0,-1.0,-1.0,-1.0,-0.641481,-1.0,0
28615,-0.5,-1.0,-0.714286,-1.000000,-1.0,-1.0,0.0,-0.467269,0.454545,0.133333,-1.0,-1.0,-1.0,-1.0,-0.537037,-1.0,0
17993,0.0,-1.0,-0.428571,-0.764706,-1.0,-1.0,0.0,-0.665914,-0.454545,0.066667,-1.0,-1.0,-1.0,-1.0,-0.722222,-1.0,1

In [13]:
validation_set.head()

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
31751,0.5,-1.0,-1.000000,-0.882353,-1.0,-1.0,1.0,-0.936795,0.454545,-0.066667,0.0,-1.0,-1.0,-1.0,-0.240741,-0.2,1
12851,0.0,-1.0,-1.000000,-0.647059,0.0,-1.0,0.0,-0.083521,1.000000,-0.533333,0.0,-1.0,-1.0,-1.0,-0.583333,-1.0,1
12496,0.0,-1.0,-0.714286,-0.647059,1.0,-1.0,0.0,-0.273138,0.090909,-0.600000,0.0,-1.0,-1.0,-1.0,-0.637963,-0.6,0
25515,0.0,-1.0,-0.714286,-0.529412,-1.0,-1.0,1.0,-0.851016,0.636364,0.800000,-1.0,-1.0,-1.0,-1.0,-0.713333,-1.0,1
15510,0.0,-1.0,-1.000000,-0.764706,-1.0,-1.0,0.0,-0.733634,-1.000000,0.800000,-1.0,-1.0,-1.0,-1.0,-0.677778,-0.6,1

In [14]:
test_set.head()

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
8732,0.0,-1.0,-0.428571,-1.000000,1.0,-1.0,0.0,-0.846501,0.454545,0.600000,0.0,-1.0,-1.0,-1.0,-0.633333,-0.6,1
12913,0.0,-1.0,-0.428571,-0.647059,-1.0,-1.0,0.0,0.367946,0.272727,0.200000,0.0,-1.0,-1.0,-1.0,-0.711111,-1.0,0
5482,-0.5,-1.0,-1.000000,-0.764706,-1.0,-1.0,0.0,-0.259594,0.636364,-0.933333,-1.0,-1.0,-1.0,-1.0,-0.629630,-1.0,1
9848,0.5,-1.0,-0.714286,-0.647059,-1.0,-1.0,1.0,-0.941309,-0.272727,-0.733333,0.0,-1.0,-1.0,-1.0,-0.372222,-0.2,1
30631,0.0,-1.0,-0.714286,-0.882353,0.0,-1.0,0.0,0.115124,-0.090909,-0.666667,-1.0,-1.0,-1.0,-1.0,-0.574074,-0.6,0

In [15]:
print("Train: ", X_train.shape)
print("Test: ", X_test.shape)
print("Validation: ", X_val.shape)

Train:  (29016, 16)
Test:  (3627, 16)
Validation:  (3627, 16)

In [16]:
clf = ak.StructuredDataClassifier(seed=seed)  # Puedes ajustar max_trials según tus necesidades.

Reloading Tuner from .\structured_data_classifier\tuner0.json

In [17]:
np.object = object

In [18]:
clf.fit(
    X_train,
    y_train,
    validation_data=(X_val, y_val),
    epochs=20,  # Número de épocas para entrenamiento.
)

Trial 77 Complete [00h 01m 15s]
val_accuracy: 0.8251999020576477

Best val_accuracy So Far: 0.8453267216682434
Total elapsed time: 01h 37m 01s
Epoch 1/20
907/907 [==============================] - 3s 3ms/step - loss: 0.4375 - accuracy: 0.8021 - val_loss: 0.4302 - val_accuracy: 0.8062
Epoch 2/20
907/907 [==============================] - 2s 2ms/step - loss: 0.4013 - accuracy: 0.8210 - val_loss: 0.4167 - val_accuracy: 0.8178
Epoch 3/20
907/907 [==============================] - 2s 2ms/step - loss: 0.3843 - accuracy: 0.8292 - val_loss: 0.4049 - val_accuracy: 0.8153
Epoch 4/20
907/907 [==============================] - 2s 2ms/step - loss: 0.3723 - accuracy: 0.8345 - val_loss: 0.3992 - val_accuracy: 0.8183
Epoch 5/20
907/907 [==============================] - 2s 2ms/step - loss: 0.3630 - accuracy: 0.8383 - val_loss: 0.3954 - val_accuracy: 0.8197
Epoch 6/20
907/907 [==============================] - 2s 2ms/step - loss: 0.3553 - accuracy: 0.8422 - val_loss: 0.3920 - val_accuracy: 0.8227
Epoch 7/20
907/907 [==============================] - 2s 2ms/step - loss: 0.3488 - accuracy: 0.8446 - val_loss: 0.3878 - val_accuracy: 0.8238
Epoch 8/20
907/907 [==============================] - 2s 2ms/step - loss: 0.3432 - accuracy: 0.8483 - val_loss: 0.3859 - val_accuracy: 0.8249
Epoch 9/20
907/907 [==============================] - 2s 3ms/step - loss: 0.3380 - accuracy: 0.8508 - val_loss: 0.3887 - val_accuracy: 0.8244
Epoch 10/20
907/907 [==============================] - 2s 2ms/step - loss: 0.3333 - accuracy: 0.8537 - val_loss: 0.3867 - val_accuracy: 0.8252
Epoch 11/20
907/907 [==============================] - 2s 3ms/step - loss: 0.3291 - accuracy: 0.8555 - val_loss: 0.3898 - val_accuracy: 0.8260
Epoch 12/20
907/907 [==============================] - 2s 2ms/step - loss: 0.3248 - accuracy: 0.8578 - val_loss: 0.3884 - val_accuracy: 0.8271
Epoch 13/20
907/907 [==============================] - 2s 2ms/step - loss: 0.3205 - accuracy: 0.8596 - val_loss: 0.3910 - val_accuracy: 0.8260
Epoch 14/20
907/907 [==============================] - 2s 3ms/step - loss: 0.3173 - accuracy: 0.8608 - val_loss: 0.3934 - val_accuracy: 0.8285
Epoch 15/20
907/907 [==============================] - 2s 2ms/step - loss: 0.3150 - accuracy: 0.8615 - val_loss: 0.3955 - val_accuracy: 0.8252
Epoch 16/20
907/907 [==============================] - 2s 2ms/step - loss: 0.3111 - accuracy: 0.8640 - val_loss: 0.3880 - val_accuracy: 0.8274
Epoch 17/20
907/907 [==============================] - 2s 2ms/step - loss: 0.3091 - accuracy: 0.8647 - val_loss: 0.3922 - val_accuracy: 0.8299
Epoch 18/20
907/907 [==============================] - 2s 2ms/step - loss: 0.3055 - accuracy: 0.8658 - val_loss: 0.3991 - val_accuracy: 0.8260
Epoch 19/20
907/907 [==============================] - 2s 2ms/step - loss: 0.3026 - accuracy: 0.8677 - val_loss: 0.3980 - val_accuracy: 0.8238
Epoch 20/20
907/907 [==============================] - 2s 2ms/step - loss: 0.3006 - accuracy: 0.8682 - val_loss: 0.4044 - val_accuracy: 0.8266
INFO:tensorflow:Assets written to: .\structured_data_classifier\best_model\assets

INFO:tensorflow:Assets written to: .\structured_data_classifier\best_model\assets

In [22]:
results = clf.evaluate(X_val, y_val)
print(results)

114/114 [==============================] - 2s 4ms/step - loss: 0.4044 - accuracy: 0.8266
[0.4044063687324524, 0.8265784382820129]

In [23]:
best_model = clf.export_model()
best_model.summary()

Model: "model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_1 (InputLayer)        [(None, 16)]              0

 multi_category_encoding (M  (None, 16)                0
 ultiCategoryEncoding)

 normalization (Normalizati  (None, 16)                33
 on)

 dense (Dense)               (None, 256)               4352

 re_lu (ReLU)                (None, 256)               0

 dense_1 (Dense)             (None, 16)                4112

 re_lu_1 (ReLU)              (None, 16)                0

 dense_2 (Dense)             (None, 256)               4352

 re_lu_2 (ReLU)              (None, 256)               0

 dense_3 (Dense)             (None, 1)                 257

 classification_head_1 (Act  (None, 1)                 0
 ivation)

=================================================================
Total params: 13106 (51.20 KB)
Trainable params: 13073 (51.07 KB)
Non-trainable params: 33 (136.00 Byte)
_________________________________________________________________

In [24]:
best_model.save("best_model_autokeras", save_format="tf")

INFO:tensorflow:Assets written to: best_model_autokeras\assets

INFO:tensorflow:Assets written to: best_model_autokeras\assets